@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap");

.blogMainfriendlist {
  display: flex; /*  좌측(사이드바) + 우측(메인) 정렬 */
  justify-content: center;
  gap: 39px;
  width: 100%;

  align-items: center; /*위쪽정렬*/
  height: 100vh;
  padding: 20px;
}

.left .top {
  width: 214px;
  height: 230px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left .top .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;

  justify-content: center;
  font-weight: bold;
}
.left .top .nameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.left .top .intro {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;

  text-align: start;

  margin-top: 20px;
}
.left .top .intro2 {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 17px;
  font-weight: 100;

  text-align: start;
  margin-right: 80px;

  margin-bottom: 20px;
}
.left .top .edit {
  display: flex;
  justify-content: center;

  color: #969696;
  font-family: "Noto Sans KR";
  font-size: 8px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 11%; /* 1.32px */
  text-underline-offset: 23%; /* 2.76px */
  text-underline-position: from-font;

  gap: 90px;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* 오른쪽 */

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 650px;
  justify-content: center;
}

.friends-container {
  width: 100%; /* 가로 꽉 */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px; /* 친구 간격 */
  padding: 0 15px;
  box-sizing: border-box;

  overflow-y: scroll;
  overflow-x: hidden;

  background-color: white;

  border-radius: 15px;
  background: #fff;

  margin-top: 20px;
}
.right .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 0px;
  padding-top: 15px;
  padding-right: 0px;
  padding-left: 15px;
  width: 100%;

  margin: 0 auto;
}
.right .human {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  gap: 15px;
  width: 100%;
  height: 100%;
}
.right .line {
  border-bottom: #969696 solid 1px;
  width: 100%;
}
.right .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #d9d9d9;

  font-weight: bold;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right .name {
  font-size: 21px;
  font-weight: 900;

  width: 180px;

  display: flex;

  align-items: center;
}
