@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap");

.blogMain {
  display: flex; /*  좌측(사이드바) + 우측(메인) 정렬 */
  justify-content: center;
  gap: 39px;
  width: 100%;

  align-items: center; /*위쪽정렬*/
  height: 100vh;
  padding: 20px;
}

.left .top {
  width: 214px;
  height: 230px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left .top .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;

  justify-content: center;
  font-weight: bold;
}
.left .top .nameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.left .top .intro {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;

  text-align: start;

  margin-top: 20px;
}
.left .top .intro2 {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 17px;
  font-weight: 100;

  text-align: start;
  margin-right: 80px;

  margin-bottom: 20px;
}
.left .top .edit {
  display: flex;
  justify-content: center;

  color: #969696;
  font-family: "Noto Sans KR";
  font-size: 8px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 11%; /* 1.32px */
  text-underline-offset: 23%; /* 2.76px */
  text-underline-position: from-font;

  gap: 90px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.left .bottom {
  width: 214px;
  height: 270px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;

  margin-top: 20px;
}

.left .bottom .myPost {
  font-family: "Noto Sans KR", sans-serif;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;

  padding-top: 17px;
  padding-left: 16px;
  font-weight: 900 !important;
  font-size: 13px;
}
.left .bottom .myPosts {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;

  padding-top: 13px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 10px;

  gap: 20px;
  line-height: 1.1;
  list-style: none;
  margin-top: 0px;
}
.left .bottom .post1 {
  font-family: "Noto Sans KR";
  font-weight: 900;
  font-size: 10px;
}

.left .bottom .myPosts li:first-child {
  font-weight: 900;
}

/* 오른쪽 */

.right {
  flex-direction: column;
}

/* top */

.right .top {
  width: 775px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 260px;
  color: #946038;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;

  line-height: normal;
}

/* bottom */

.right .bottom {
  width: 775px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;

  margin-top: 20px;
  color: #000;
}
.right .bottom .posts {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-top: 50px;
  margin-right: 50px;
  font-size: 30px;
}

.right .bottom .content-ifo {
  display: flex;
  justify-content: flex-start;

  margin-top: 20px;
  margin-left: 60px;

  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 670px;

  font-size: 10px;
  font-weight: 100;
}

.right .bottom .row {
  display: flex;
  text-align: right;
  justify-content: center;
  flex-direction: row;

  gap: 10px;
  margin-top: 5px;
  margin-left: 630px;

  font-size: 10px;
  color: #969696;
}

.right .bottom .content {
  display: flex;
  justify-content: flex-start;

  text-align: start;

  margin-top: 20px;
  margin-left: 60px;

  font-size: 10px;
}

.viewpostwrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.exitbtn {
  align-self: flex-end; /* 오른쪽 정렬 */
}
